<center>
  <% unless @key_dates.include_valid_opposition_end? %>
    <div class="alert alert-danger">
      <p>
      <%= "Une date d'effet le #{l(@key_dates.legal_effect, format: :long)} suppose que le délai d'opposition des créanciers expire le #{l(@key_dates.opposition_end, format: :long)}, qui est un #{l(@key_dates.opposition_end, format: "%A")}. Le délai d'opposition des créancier ne peut expirer un samedi, un dimanche ou un jour férié." %>
      </p>
    </div>
  <% end %>
</center>
