<center>
  <p><%= "Il y a #{@tup.publications.size} dates de publication possibles pour une date d'effet le #{to_little_endian(@tup.legal_effect)}" %> :</p>
  <ul>
  
    <%= simple_form_for :tup, url: tups_path, wrapper_mappings: { radio_buttons: :custom_collection }, remote: true do |f| %>
  
    <%= f.input :publication, as: :radio_buttons, collection: to_little_endian(@tup.publications), wrapper: :custom_collection_inline %>
  
    <%= f.button :submit, "Go", class: "btn-primary" %>
  
  <% end %>
  </ul>
</center>
