<center>
  <h5>Rappel des règles de computation des délais pour les Transmissions Universelles de Patrimoine (TUP)</h5>
</center>

<ul class="nav nav-pills mt-5 mb-4 justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-start-tab" data-toggle="pill" href="#pills-start" role="tab" aria-controls="pills-start" aria-selected="true">Début du délai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-end-tab" data-toggle="pill" href="#pills-end" role="tab" aria-controls="pills-end" aria-selected="false">Fin du délai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-realisation-tab" data-toggle="pill" href="#pills-realisation" role="tab" aria-controls="pills-realisation" aria-selected="false">Réalisation</a>
  </li>
</ul>
<div class="d-flex align-items-center alert alert-info my-5 p-5" id="disclaimer">
  <div class="tab-content text-justify" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-start" role="tabpanel" aria-labelledby="pills-start-tab">
      <p>Article 640 - Lorsqu'un acte ou une formalité doit être accompli avant l'expiration d'un délai, celui-ci a pour origine la date de l'acte, de l'événement, de la décision ou de la notification qui le fait courir.</p>
      <p>Article 641 - Lorsqu'un délai est exprimé en jours, celui de l'acte, de l'événement, de la décision ou de la notification qui le fait courir ne compte pas.</p>
    </div>
    <div class="tab-pane fade" id="pills-end" role="tabpanel" aria-labelledby="pills-end-tab">
      <p>Article 642 - Tout délai expire le dernier jour à vingt-quatre heures. Le délai qui expirerait normalement un samedi, un dimanche ou un jour férié ou chômé, est prorogé jusqu'au premier jour ouvrable suivant.</p>
    </div>
    <div class="tab-pane fade" id="pills-realisation" role="tabpanel" aria-labelledby="pills-realisation-tab">
      <p>Avis du CCRCS n°2012-026 - En cas de dissolution d'une société par réunion de toutes les parts sociales en une seule main, et en l'absence d'opposition des créanciers à la suite de la publication de la dissolution, la date exacte de la transmission du patrimoine, et partant de la disparition de la personne morale, est le jour suivant l'expiration du délai d'opposition à 00 heure, étant considéré que ce délai d'opposition a commencé à courir le lendemain du jour de la publication de la dissolution dans un journal d'annonces légales.</p>
    </div>
  </div>
</div>

