<div class="container d-flex justify-content-center">
  <div class="w-75">
      <div id="content">
        <div class="mt-5"><%= render partial:'tups/tup_disclaimer' %></div>
        <div class="mt-0"><%= render partial:'tups/calendars/flatpickr_publication'%></div>
        <div class="mt-5"><%= render partial:'tups/calendars/flatpickr_legal_effect'%></div>
        <div class="mt-4" id="results"></div>
      </div>
  </div>
</div>
